:root{
    --white: #FFFFFF;
    --black: #000000;
    --red: #d0021c;
    --red-dark: #C19191;
    --gray-dark: #707070;
    --gray-light: #B1B1B1;
    --yellow-dark: #E8AF46;
    --yellow-light: #E8B049;
}

*{
	outline: none !important;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

:focus{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

ul, ol{
    padding: 0;
    margin: 0;
}

html{
	font-size: 100.01%;
	scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica Neue';
	font-weight: normal;
    overflow-x: hidden;
    line-height: 1.4;
	font-size: 20px;
	color: var(--black);
}

a{
    text-decoration: none;
    color: inherit;
}

a, .btn, button, input{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.btn{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 28px;
    display: inline-block;
    font-family: 'Helvetica Neue';
}

.btn-xl{
    font-size: 40px;
    padding: 1% 6% 1.2%;
    font-weight: normal;
}

.border{
    border: 1px solid var(--gray-dark);
}

.btn-rounded{
    border-radius: 50px;
}

.btn-primary{
    background-color: var(--yellow-dark);
    color: var(--dark);
}
.btn-primary:hover{
    background-color: var(--black);
    color: var(--white);
}
.btn-primary.border:hover{
    border-color: var(--black);
}

.form-control{
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;
    color: var(--dark);
    font-family: 'Helvetica Neue';
}
.form-control::-webkit-input-placeholder {
    color: #000;
}
.form-control::-moz-placeholder {
    color: #000;
}
.form-control:-ms-input-placeholder {
    color: #000;
}
.form-control:-moz-placeholder {
    color: #000;
}

h1, h2, h3, h4{
    margin: 0;
    font-weight: bold;
}

h2{
    font-size: 70px;
    line-height: 0.9;
}
h4{
    font-size: 22px;
}

p{
    margin: 0 0 1.4em;
    font-weight: normal;
    color: var(--black);
}

p:last-child{
    margin-bottom: .5em;
}

.header{
    padding: 20px 0;
}
.header-top{
    display: flex; 
    margin-bottom: 15px;
    justify-content: flex-end;
}
.header-top a:hover{
    color: var(--yellow-dark);
}
.header-top a{
    margin-left: 30px;
}
.header-top span{
    margin-left: 6px;
    margin-right: -22px;
}

.header-main{
    display: flex;
    align-items: center;
}
.header-logo{
    width: 100%;
    display: block;
    max-width: 295px;
    margin-right: 25px;
}

.input-search-group{
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-dark);
}
.input-search-group button{
    border-left: 1px solid var(--gray-dark) !important;
}
.input-search-group input, .input-search-group button{
    border: none;
}
.input-search-icon{
    padding-left: 15px;
    padding-right: 3px;
}
.input-search-icon svg{
    width: 22px;
    height: 22px;
    display: block;
}
.input-search-group input{
    width: 180px;
}

.d-flex{
    display: flex !important;
}
.justify-content-center{
    justify-content: center !important;
}

.navbar-tabs{
    padding: 20px 0;
    margin-bottom: 20px;
}
.navbar-tabs ul{
    border: 1px solid var(--gray-dark);
    justify-content: center;
    list-style-type: none;
    border-radius: 50px;
    align-items: center;
    display: inline-flex;
}
.navbar-tabs ul a{
    color: var(--gray-light);
    padding: 2px 40px;
    font-size: 36px;
    display: block;
}
.navbar-tabs ul a.active, .navbar-tabs ul a:hover{
    color: var(--dark);
}
.navbar-tabs ul li{
    position: relative;
}
.navbar-tabs ul li + li:before{
    -webkit-transform: skewX(-40deg);
	-ms-transform: skewX(-40deg);
	-o-transform: skewX(-40deg);
	transform: skewX(-40deg);
    background-color: var(--gray-dark);
    position: absolute;
    height: 100%;
    content: "";
    width: 1px;
    left: 0;
    top: 0;
}

/* section */
.section-border{
    border: 1px solid var(--black);
}
.section-radius{
    border-radius: 30px;
}
.section-padding{
    padding: 30px 40px;
}
.mb-30{
    margin-bottom: 30px;
}
.section-title{
    margin-bottom: 25px;
}

.text-center{
    text-align: center;
}

.card-howItWork{
    border: 1px solid var(--gray-dark);
    padding: 40px 15px 5px;
    margin: 40px auto 0;
    position: relative;
    text-align: center;
    max-width: 280px;
    display: block;
    width: 90%;
}
.card-howItWork img{
    display: block;
    max-width: 150px;
    max-height: 135px;
    margin: 0 auto 15px;
}
.card-count{
    left: 0;
    right: 0;
    top: -30px;
    width: 60px;
    margin: auto;
    height: 60px;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    background-color: var(--yellow-dark);
    border: 1px solid var(--gray-dark);
}

.social-content{
    margin-top: 20px;
}
.social-content img{
    max-height: 75px;
    margin: 0 auto 10px;
}
.social-content strong{
    color: var(--red);
    font-weight: bold;
}